     <div class="container-fluid py-5 wow fadeInUp" data-wow-delay=".3s">
            <div class="container py-5">
                <div class="bg-light px-4 py-5 rounded">
                    <div class="text-center">
                        <h1 class="display-5 mb-5">{{ "Register to join the Majlis"|t }}</h1>
                    </div>
                   {{ drupal_entity('webform', 'registration') }}
                </div>
            </div>
        </div>